* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(41, 41, 41);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    z-index: -1;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation-fill-mode: forwards;
}

#image-2, #image-3, #image-4 {
    position: absolute;
    transform: scale(0.05);
    animation-timing-function: ease-in;
    border-radius: 50%;
}

#image-1 { 
    animation-name: zoom;
    transform-origin: 49% 8%;
    animation-duration: 2s;
    animation-timing-function: linear;
}

#image-2 {
    opacity: 0.5;
    filter: blur(100px);
    animation-name: transition-1;   
    animation-delay: 1.8s;
    animation-duration: 2s;
    z-index: -1;
} 


#image-3 {   
    opacity: 0;
    filter: blur(50px);
    animation-name: transition-2;
    animation-delay: 3s;
    animation-duration: 2s;
    z-index: -2;
}

#image-4 {   
    opacity: 0;
    animation-name: transition-3;
    animation-delay: 4s;
    animation-duration: 2s;
    z-index: -3;
}

@keyframes zoom {
    0%{
        transform: scaleX(1.5) scaleY(1.8);
    }

    90% {
        transform: scale(1);
    }

    100% {
        transform: scale(10);
        display: none;
    }
}

@keyframes transition-1 {
    30% {
        border-radius: 50%;
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }

    40%{
        border-radius: 0%;
    }
    
    100% {
        border-radius: 0%;
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
        display: none;
    }
}

@keyframes transition-2 {
    0% {
        opacity: .5;
        z-index: 0;
        filter: blur(10px);
    }

    30% {
        z-index: 0;
        border-radius: 50%;
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }

    40%{
        border-radius: 0%;
    }
    
    100% {
        z-index: 0;
        border-radius: 0%;
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
        display: none;
    }
}

@keyframes transition-3 {
    0% {
        opacity: .5;
        z-index: 0;
        filter: blur(10px);
    }

    30% {
        z-index: 0;
        border-radius: 50%;
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }

    40%{
        border-radius: 0%;
    }
    
    100% {
        z-index: 0;
        border-radius: 0%;
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}

#info {
    opacity: 0;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-name: transition-4;
    animation-delay: 5s;
    animation-duration: 3s;
    width: 100%;
    height: 40%;
    margin-bottom: 10px;   
}
#info ul li{
    display: inline;
    color: white;
    padding-right: 20px;
}

#logo-parte-1 {
    width: 30vw;
    max-width: 700px;
    height: auto;
}

#logo-parte-2 {
    width: 60vw;
    max-width: 1200px;
    height: auto;
}

#logo-parte-3 {
    width: auto;
    height: 40px;
}

@keyframes transition-4 {
    0% {
        opacity: .5;
    }

    30% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 576px){
    #logo-parte-1 {
        width: 90vw;
        height: auto;
    }
    
    #logo-parte-2 {
        width: 100vw;
        height: auto;
    }

    #logo-parte-3 {
        width: auto;
        height: 30px;
    }
}